@model IEnumerable<AspWebProject.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                 @item.User?.FullName
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Trainer.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>

            <td>
                @if (item.Status == AppointmentStatus.Pending)
                {
                     <span class="text-warning">Pending</span>
                }
                else if (item.Status == AppointmentStatus.Approved)
                {
                     <span class="text-success">Approved</span>
                }
                else
                {
                     <span class="text-danger">Rejected</span>
                }
                </td>

            <td>
                
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 @if (User.IsInRole("Admin"))
                {
                    if (item.Status == AppointmentStatus.Pending)
                    {
                        <form asp-action="Approve" asp-route-id="@item.Id" method="post" style="display:inline">
                        <button class="btn btn-success btn-sm">Approve</button>
                        </form>

                        <form asp-action="Reject" asp-route-id="@item.Id" method="post" style="display:inline">
                        <button class="btn btn-danger btn-sm">Reject</button>
                        </form>
                    }
                }   

            </td>
        </tr>
}
    </tbody>
</table>
