@model IEnumerable<AspWebProject.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row mb-3">
    <div class="col-3">
        <label>Fitness Center</label>
        <select id="FilterCenter" class="form-control">
            <option value="">Hepsi</option>
            @foreach (var fc in ViewBag.FitnessCenters)
            {
                <option value="@fc.Id">@fc.Name</option>
            }
        </select>
    </div>

    <div class="col-3">
        <label>Çalışma Günü</label>
        <select id="FilterDay" class="form-control">
            <option value="">Hepsi</option>
            @foreach (DayOfWeek d in Enum.GetValues(typeof(DayOfWeek)))
            {
                <option value="@((int)d)">@d</option>
            }
        </select>
    </div>

    <div class="col-3">
        <label>Hizmet</label>
        <select id="FilterService" class="form-control">
            <option value="">Hepsi</option>
            @foreach (var s in ViewBag.Services)
            {
                <option value="@s.Id">@s.Name</option>
            }
        </select>
    </div>
</div>
<table class="table table-bordered" id="TrainerTable">
    <thead>
        <tr>
            <th>İsim</th>
            <th>Uzmanlık</th>
            <th>Salon</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section Scripts {
    <script>
                $(document).ready(function () {
            loadFiltered(); // sayfa açılır açılmaz tabloyu doldur
        });

        function loadFiltered() {
            const center = $("#FilterCenter").val();
            const day = $("#FilterDay").val();
            const service = $("#FilterService").val();

            $.get("/api/TrainersApi/filter", {
                fitnessCenterId: center,
                day: day,
                serviceId: service
            }, function (list) {

                let html = "";
                list.forEach(t => {
                    html += `
                    <tr>
                        <td>${t.fullName}</td>
                        <td>${t.expertise}</td>
                        <td>${t.fitnessCenter}</td>
                        <td>
                            <a href="/Trainers/Edit/${t.id}">Edit</a> |
                            <a href="/Trainers/Details/${t.id}">Details</a> |
                            <a href="/Trainers/Delete/${t.id}">Delete</a>
                       </td>
                    </tr>`;
                });

                $("#TrainerTable tbody").html(html);
            });
        }

        $("#FilterCenter").change(loadFiltered);
        $("#FilterDay").change(loadFiltered);
        $("#FilterService").change(loadFiltered);

    </script>
}
